* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #5e0214;
  width: 100%;
  height: 93px;
  display: flex;
  align-items: center; 
  padding: 0 3%;
}

header a {

text-decoration: none;
color: #eec51d;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start; 
}

.menu {
  flex: 7;
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
  color: #eec51d;
  align-items: center;
  font-family: nav;
}


.sobre-nos {
  background-color: #fff;
  color: #333;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.sobre-nos h2 {
  color: #5e0214;
  text-align: center;
}

.sobre-nos p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 15px;
}
